html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: silver;
  
  margin: 0;
}



.container {

  width: 95%;
  max-width: 1040px;
  margin: 0 auto;
  
}

.barra-header {
  position:fixed;
  width: 100%;
  height: 100px;
  background: #0f2026;
}

.header {
  position: fixed;
  width: 100%;
}

.logo {
  width: auto;
  height: 96px;
    
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 8vh;


}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  
}

  .ham span {
    display: block;
    background-color: #fafafa;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
  }

.enlaces-menu {
  display: flex;
  padding: 0;
  background: #0f2026be;
  backdrop-filter: blur(3px);
}

  .enlaces-menu li {
    padding: 10px 40px;
    list-style-type: none;
    transition: all 0.3s linear;
      border-radius: 5px;
  }

  .enlaces-menu li a {
    color: rgb(189, 187, 187);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s linear;
      border-radius: 5px;
    
      
    }

    .enlaces-menu li:hover {
        background-color: #eaeff133;
        
        
      }

      .enlaces-menu li a:hover {
        
        color: white;
      }

/* Dispositivos moviles*/

@media (max-width:768px)  {

  .logo{
    padding-left: 25px;
  }

  .ham{
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    transition: 0.2s 0.1s;
  }

.ham:hover{
  transform: rotate(360deg);
}

  nav{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .enlaces-menu {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
    opacity: 0;
    
  }

  .enlaces-menu  li{
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .enlaces-menu li a{
    font-size: large;
  }

  .polis {
    flex-direction: column;

  }

}

@keyframes muestraMenu{
  from{opacity:0;}
  to{opacity:1;}
}


.enlaces-menu.activado{
  display: flex;
  animation:muestraMenu 350ms ease-in-out both;
}

.br-1.animado{
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
  opacity: 0;
}

.br-3.animado{
  transform: rotate(45deg) translate(-10px, -8px);
}


.main {
  padding-top: 120px;
}

.justify-content-center {
  
  justify-content: center;
}
.d-flex {
  
  display: flex;
}

.d-flex2 {
  
  display: none;
}

@media (max-width:768px) {

  .d-flex {
    display: none;
  }

  .d-flex2 {
  
    display: flex;
  }

}

.col-12 {
  
  height: auto;
  
  flex: 0 0 100%;
  max-width: 100%;
}

.btn {
  padding: 3px 5px;
  display: flex;
  width: 100px;
  border-radius: 4px;
  background-color: #82858475;
  border: solid 1px;
  border-color: silver;
}

.btn img {
  
  align-content: center;
  align-self: center ;
}


.form_searchbar {
  display: block;
    margin-top: 0em;
}

.form_control {
  margin-bottom: 0.5rem!important;
  width: 100%!important;
  border-radius: 0!important;
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  overflow: visible;
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  box-sizing: border-box;

}

table {
    border-collapse: collapse;
    width: 100%;
    
}

  
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgb(74, 102, 109);
    
}
  
th {
    background-color: rgb(2,119,189);
    color: white;
    
  }
  td {
    background-color: #f2f2f2;
    
}

kbd {
  padding: 0.2rem 0.4rem;
  
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

.fun-gen {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  white-space: nowrap;  
}

.funcion1 {
  color: #ffffff; /* Color de texto blanco */
  background-color: #178d17; /* Color de fondo rojo */
}

.funcion2 {
  color: #ffffff; /* Color de texto negro */
  background-color: #1e6ed6; /* Color de fondo verde */
}

.funcion3 {
  color: #ffffff; /* Color de texto negro */
  background-color: #a84133; /* Color de fondo amarillo */
}

.funcion4 {
  color: #ffffff; 
  background-color: #e29494; /* Color de fondo amarillo */
}

.funcion5 {
  color: #ffffff; /* Color de texto negro */
  background-color: #0cb1c7; /* Color de fondo amarillo */
}

.funcion6 {
  color: #ffffff; /* Color de texto negro */
  background-color: #9c9b99; /* Color de fondo amarillo */
}

.funcion7 {
  color: #ffffff; /* Color de texto blanco */
  background-color: #d6b316; /* Color de fondo azul */
}

.funcion8 {
  color: #ffffff; /* Color de texto negro */
  background-color: #067a8f; /* Color de fondo amarillo */
}

.funcion9 {
  color: #ffffff; /* Color de texto negro */
  background-color: #797979; /* Color de fondo amarillo */
}

.funcion10 {
  color: #ffffff; /* Color de texto negro */
  background-color: #797979; /* Color de fondo amarillo */
}

@media (max-width:768px){
  th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid rgb(74, 102, 109);
    
}

.container {
  width: 98%;
  max-width: 1040px;
  margin: 0 auto;
  
}
}

h1 {
    max-width: 100%;
    margin-top: 0px;
    
}

.footer {
  background: #a3a3a3;
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;
}

.polis {
  padding: 0 10px ;
  display: flex;

  justify-content:center;
  text-align: center;
}

.polis a {
  color: rgb(34, 34, 34);
  
  padding: 5px 10px;
  
  }


