body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: silver;
  
  margin: 0;
}

.header {
  background: #0F2026;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  

}
.header a {
  color: rgb(189, 187, 187);
  text-decoration: none;
  font-weight: bold;
}

.container {

  width: 95%;
  max-width: 1040px;
  margin: 0 auto;
  
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

}


.logo {
  width: auto;
  height: 100px;
    
}

.menu-icon {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

  .navigation ul li {
    display: inline-block;
  }

    .navigation ul li a {
      display: block;
      padding: 10px 20px;
      transition: all 0.3s linear;
      border-radius: 5px;
    }

      .navigation ul li a:hover {
        color: white;
      }

.main {
  padding-top: 120px;
}

.btn {
  display: flexbox;
  border-radius: 4px;
  padding: 4px 8px;
  
  
}

.form_searchbar {
  display: block;
    margin-top: 0em;
}

.form_control {
  margin-bottom: 0.5rem!important;
  width: 100%!important;
  border-radius: 0!important;
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  overflow: visible;
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  box-sizing: border-box;

  


}

table {
    border-collapse: collapse;
    width: 100%;
    
}

.cabesa_tabla { 
    
    
}
  
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgb(74, 102, 109);
    
}
  
th {
    background-color: rgb(2,119,189);
    color: white;
    
  }
  td {
    background-color: #f2f2f2;
    
}

kbd {
  padding: 0.2rem 0.4rem;
  
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

.proceso {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 700;
  font-size: 75%;
  line-height: 1;
  white-space: nowrap;  
}

.proceso1 {
  color: #ffffff; /* Color de texto blanco */
  background-color: #178d17; /* Color de fondo rojo */
}

.proceso2 {
  color: #ffffff; /* Color de texto negro */
  background-color: #1e6ed6; /* Color de fondo verde */
}

.proceso3 {
  color: #ffffff; /* Color de texto negro */
  background-color: #a84133; /* Color de fondo amarillo */
}

.proceso4 {
  color: #ffffff; /* Color de texto negro */
  background-color: #9c9b99; /* Color de fondo amarillo */
}

.proceso5 {
  color: #ffffff; /* Color de texto blanco */
  background-color: #d6b316; /* Color de fondo azul */
}

.proceso6 {
  color: #ffffff; /* Color de texto negro */
  background-color: #067a8f; /* Color de fondo amarillo */
}

.proceso7 {
  color: #ffffff; /* Color de texto negro */
  background-color: #0cb1c7; /* Color de fondo amarillo */
}

.proceso8 {
  color: #ffffff; /* Color de texto negro */
  background-color: #e29494; /* Color de fondo amarillo */
}

.proceso9 {
  color: #ffffff; /* Color de texto negro */
  background-color: #797979; /* Color de fondo amarillo */
}

.proceso10 {
  color: #ffffff; /* Color de texto negro */
  background-color: #797979; /* Color de fondo amarillo */
}

h1 {
    max-width: 100%;
    margin-top: 0px;
    
}

.footer {
  background: #a3a3a3;
  padding: 30px 0;
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .navigation {
    width: 100%;
    margin-top: 10px;

  }

    .navigation ul {
      display: none;
    }

    .navigation ul.show {
      display: block;
    }
  
    .navigation ul li {
      display: block;
    }
  
      .navigation ul li a {
        display: block;
        padding: 10px 0;
        transition: all 0.3s linear;
        border-radius: 5px;
      }
  
        .navigation ul li a:hover {
          color: white;
        }

}
